*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif !important;
    overflow-x: hidden;
}
h1,h2,h3,h4{
    margin: 10px 0 10px 0 !important;
}
header{
    height:80px;
    width: 100%;
    /*box-shadow: 3px 3px 7px rgba(0,0,0,0.2); */
    /*border: 1px solid #bebebe;*/
    background: #05668D;
    display:flex;
    align-items:center;
    padding: 10px 2.5% 10px 2.5%;
}
header .containerLogo{
    width: 30%;
}
header .containerLogo img{
    width: 180px;
}
header .menu{
    width: 65%;   
}
header .menu ol{
    display: flex;
    justify-content: flex-end;
}
header .menu ol li{
    display:flex;
    flex-direction: column;
    text-align:right !important;
    margin: 0 10px 0 10px;
}
header .menu ol li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.servicioTesis{
    height: 600px;
    background: linear-gradient(#ffffff, #d8d8d8);
    padding: 30px;
}
.divisor{
    border: 2px solid #A5BE00; 
    width: 5%;
    margin: 10px 0 30px 0;
}
.servicioTesis .containerform{
    background: #ffffff;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
    height: 250px;
    padding: 30px;
    border-radius: 5px;
    width: 80%;
}
/*Estilos para el form*/
.containerForm .titulo{
    color: #3c3c3c;
    padding: 0;
    margin: 0 0 30px 0;
}
.entradasDatos{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.containerForm form .entradasDatos .datosBox{
    height: auto;
    width: 40%;
    margin: 10px 5% 10px 0;
    overflow: visible;
    /*
    background-color: rgba(255,255,255,0.3);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    */
    display:flex;
    flex-direction:column;
}
input[type="text"], input[type="date"]{
    transition: border 1s ease;
    transition: box-shadow 1s ease;
    height: 35px;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,0);
    /*box-shadow: 3px 3px 7px rgba(5, 102, 141,0.3);*/
    background: #fefefe;
    color: #3c3c3c;
}
input[type="text"]:focus,input[type="date"]:focus{
    transition: border 1s ease;
    transition: box-shadow 1s ease;
    border: 1px solid #d8d8d8;
    box-shadow: 4px 4px 10px rgba(5, 102, 141,0.3);
    outline:none;
}
/*Para los selectores*/
.selectBox{
    width: 40%;
    height: auto;
    margin: 10px 5% 10px 0;
    overflow: visible;
}
select{
    width: 100%;
    height: 35px;    
    border-radius: 5px;
    border:1px solid rgba(0,0,0,0);
    background: #fefefe;
    color: #3c3c3c;
}
select:focus{
    transition: border 1s ease;
    transition: box-shadow 1s ease;
    border: 1px solid #d8d8d8;
    box-shadow: 4px 4px 10px rgba(5, 102, 141,0.3);
    outline:none;
}
.containerForm form input[type="submit"]{
    width: 15%;
    height: 50px;
    background: #A5BE00;
    color:white;
    font-weight: bold;
    font-size: 12pt;
    border:none;
    border-radius: 10px;
    cursor:pointer;
}
input[type="submit"]:hover{
    transition: background 0.5s ease;
    outline: none;
    background: #c6e402;
}

